*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

body{
  font-family:Helvetica, Arial , sans-serif;
}
a,li{
  text-decoration: none;
  list-style: none;
  cursor: pointer;

}

.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 120px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  height: 62px;
  background-color: rgba(245, 245, 220, 0.462);
}
.Logo{
  width: 120px;
  height: 80px;
  cursor: pointer;
}
.Logo img{
width: 100%;
height: auto;
object-fit: cover;
}

.Navbar ul{
  display: flex;
  gap: 20px;
  font-size: 18px;
}