*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100%;
}

body{
  font-family:Helvetica, Arial , sans-serif;
}
a,li{
  text-decoration: none;
  list-style: none;
  cursor: pointer;

}

.Header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 120px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  height: 62px;
  background-color: rgba(245, 245, 220, 0.462);
}
.Logo{
  width: 120px;
  height: 80px;
  cursor: pointer;
}
.Logo img{
width: 100%;
height: auto;
object-fit: cover;
}

.Navbar ul{
  display: flex;
  gap: 20px;
  font-size: 18px;
}
.Search{
    display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.SearchInput{
  width: 400px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 16px;

}
  
.RestaurantContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
  gap: 10px;
  justify-content: space-around;
}

.RestaurantCard{
  width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin: 20px;
  padding: 20px;
  background-color: #dddddd5d;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Body{
  width: 100%;
  
}

.RestaurantCard img{
  width: 100%;
  /* height: 180px; */
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}


.RestaurantCard h3{
 
font-size: 20px;

}
.RestaurantCard p{
 
font-size: 16px;

}