* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: beige;
}

.container {
  max-width: 800px;
  /* padding:  0px 40px; */
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.top {
  display: flex;
  /* align-items: center;
    justify-content: center; */
  width: 100%;
  background-color: #fff;
  /* gap: 20px; */
  /* background-color: #fff; */
  border-radius: 10px;
}

.img-container img {
  height: 100%;
  width: 350px;
  object-fit: cover;
  border: 1px solid transparent;
  border-radius: 10px;
}

.left {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 55px;
}

.perfume {
  text-transform: uppercase;
  letter-spacing: 1.2;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 15px;
}

.subheading {
  font-weight: 600;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 15px;
}
.subpara {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}
h2 {
  display: flex;
  align-items: center;
  gap: 15px;
}
h2 .sp {
  color: green;
  font-size: 40px;
  font-weight: bold;
}
.ln {
  text-decoration: line-through;
  font-size: 16px;
  display: block;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: green;
  padding: 20px 10px;
  border-radius: 5px;
  border: none;
  gap: 10px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

button img {
  width: 22px;
}

button:hover {
  background-color: rgba(5, 94, 5, 0.826);
}

.mncontainer{
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2px;

}
.up img{
border-radius: 2px;

object-fit: cover;
width: 100%;
  height: auto;
  display: block;


}

.down{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.down h1{
  font-size: 16px;
  letter-spacing: 10px;

  font-weight: 400;
  color: hsl(228, 12%, 48%)
}

.subheadingg{
  font-weight: bold;
  font-size: 30px;
  line-height: 1;
  
}
.mncontainer{
  display: none;
}
@media(max-width:600px){
  .mncontainer{
    display: block;
  }
  .top{
    display: none;
  }

  h2 .sp {
  color: green;
  font-size: 30px;
  font-weight: bold;
}
}
